@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;;
}

body {
    background-color: #0E1630;
    color: #808DAD;
}

.nav-link {
    color: #808DAD;
    position: relative;
    padding: 5px 0px;
    margin: 0px 11px;
    font-size: 14px;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #EB4A4A;
}

.secondary-font-color {
    color: #EB4A4A;
}

.nav-link:hover {
    color: #EB4A4A;
}

.nav-link-underline::before {
    width: 0%;
    bottom: 3px;
}

.nav-link-underline:hover::before {
    width: 70%;
}